<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,529},{36,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,53}}</string>
                <key>sourceSize</key>
                <string>{36,53}</string>
            </dict>
            <key>10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,125},{101,89}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{101,89}}</string>
                <key>sourceSize</key>
                <string>{105,95}</string>
            </dict>
            <key>10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,302},{37,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,75}}</string>
                <key>sourceSize</key>
                <string>{37,75}</string>
            </dict>
            <key>10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,470},{57,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,76}}</string>
                <key>sourceSize</key>
                <string>{57,76}</string>
            </dict>
            <key>10_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,248},{64,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,84}}</string>
                <key>sourceSize</key>
                <string>{64,84}</string>
            </dict>
            <key>10_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,174},{71,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,83}}</string>
                <key>sourceSize</key>
                <string>{71,83}</string>
            </dict>
            <key>11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,260},{71,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,44}}</string>
                <key>sourceSize</key>
                <string>{71,44}</string>
            </dict>
            <key>11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,521},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,101},{92,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,102}}</string>
                <key>sourceSize</key>
                <string>{92,102}</string>
            </dict>
            <key>11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,101},{104,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,23}}</string>
                <key>sourceSize</key>
                <string>{104,23}</string>
            </dict>
            <key>12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,651},{34,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{34,55}</string>
            </dict>
            <key>12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,51},{75,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,45}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,302},{60,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,485},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,453},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,428},{58,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,41}}</string>
                <key>sourceSize</key>
                <string>{58,41}</string>
            </dict>
            <key>13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,387},{66,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,45}}</string>
                <key>sourceSize</key>
                <string>{66,45}</string>
            </dict>
            <key>13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,258},{71,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,62}}</string>
                <key>sourceSize</key>
                <string>{71,62}</string>
            </dict>
            <key>13_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,469},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>13_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,374},{59,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,40}}</string>
                <key>sourceSize</key>
                <string>{59,40}</string>
            </dict>
            <key>13_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,339},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,604},{30,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,39}}</string>
                <key>sourceSize</key>
                <string>{30,39}</string>
            </dict>
            <key>1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,460},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{54,60}</string>
            </dict>
            <key>1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,485},{21,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,66}}</string>
                <key>sourceSize</key>
                <string>{21,66}</string>
            </dict>
            <key>1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,527},{26,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{26,57}</string>
            </dict>
            <key>1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,266},{41,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{41,50}</string>
            </dict>
            <key>1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,383},{53,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,65}}</string>
                <key>sourceSize</key>
                <string>{53,65}</string>
            </dict>
            <key>2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,223},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,574},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,208},{22,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,54}}</string>
                <key>sourceSize</key>
                <string>{22,54}</string>
            </dict>
            <key>2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,263},{22,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,442},{43,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,68}}</string>
                <key>sourceSize</key>
                <string>{43,68}</string>
            </dict>
            <key>2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,420},{36,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,61}}</string>
                <key>sourceSize</key>
                <string>{36,61}</string>
            </dict>
            <key>3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,415},{58,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,69}}</string>
                <key>sourceSize</key>
                <string>{58,69}</string>
            </dict>
            <key>3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,181},{98,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,120}}</string>
                <key>sourceSize</key>
                <string>{98,120}</string>
            </dict>
            <key>3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,275},{48,107}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,107}}</string>
                <key>sourceSize</key>
                <string>{50,109}</string>
            </dict>
            <key>3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,317},{44,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,84}}</string>
                <key>sourceSize</key>
                <string>{44,84}</string>
            </dict>
            <key>3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,600},{42,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,29}}</string>
                <key>sourceSize</key>
                <string>{42,29}</string>
            </dict>
            <key>3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,580},{42,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,61}}</string>
                <key>sourceSize</key>
                <string>{42,61}</string>
            </dict>
            <key>4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,631},{35,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,48}}</string>
                <key>sourceSize</key>
                <string>{35,48}</string>
            </dict>
            <key>4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,305},{67,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,58}}</string>
                <key>sourceSize</key>
                <string>{67,58}</string>
            </dict>
            <key>4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,552},{21,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,46}}</string>
                <key>sourceSize</key>
                <string>{21,46}</string>
            </dict>
            <key>4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,101},{18,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,79}}</string>
                <key>sourceSize</key>
                <string>{18,79}</string>
            </dict>
            <key>4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,485},{33,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,48}}</string>
                <key>sourceSize</key>
                <string>{33,48}</string>
            </dict>
            <key>4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,360},{40,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,81}}</string>
                <key>sourceSize</key>
                <string>{40,81}</string>
            </dict>
            <key>4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,97},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,101},{112,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,79}}</string>
                <key>sourceSize</key>
                <string>{112,79}</string>
            </dict>
            <key>5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,204},{82,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,55}}</string>
                <key>sourceSize</key>
                <string>{82,55}</string>
            </dict>
            <key>5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,406},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,612},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,215},{31,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,59}}</string>
                <key>sourceSize</key>
                <string>{31,59}</string>
            </dict>
            <key>5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,630},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,482},{39,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,46}}</string>
                <key>sourceSize</key>
                <string>{39,46}</string>
            </dict>
            <key>6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,547},{54,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,64}}</string>
                <key>sourceSize</key>
                <string>{54,64}</string>
            </dict>
            <key>6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,321},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,208},{80,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,61}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,509},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,536},{51,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,67}}</string>
                <key>sourceSize</key>
                <string>{51,67}</string>
            </dict>
            <key>7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,485},{31,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,41}}</string>
                <key>sourceSize</key>
                <string>{31,41}</string>
            </dict>
            <key>7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,433},{61,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,51}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,333},{59,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,40}}</string>
                <key>sourceSize</key>
                <string>{59,40}</string>
            </dict>
            <key>7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,215},{70,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,32}}</string>
                <key>sourceSize</key>
                <string>{70,32}</string>
            </dict>
            <key>7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,270},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,402},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,66}}</string>
                <key>sourceSize</key>
                <string>{48,66}</string>
            </dict>
            <key>8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,392},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,181},{14,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,41}}</string>
                <key>sourceSize</key>
                <string>{14,41}</string>
            </dict>
            <key>8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,181},{12,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,53}}</string>
                <key>sourceSize</key>
                <string>{12,53}</string>
            </dict>
            <key>8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,550},{42,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
            <key>8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,378},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>8_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,583},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,604},{40,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,45}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,449},{55,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,86}}</string>
                <key>sourceSize</key>
                <string>{55,86}</string>
            </dict>
            <key>9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,374},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,364},{63,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,27}}</string>
                <key>sourceSize</key>
                <string>{63,27}</string>
            </dict>
            <key>9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,511},{43,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,62}}</string>
                <key>sourceSize</key>
                <string>{43,62}</string>
            </dict>
            <key>9_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,300},{34,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,59}}</string>
                <key>sourceSize</key>
                <string>{34,59}</string>
            </dict>
            <key>crazy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1},{180,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{180,49}}</string>
                <key>sourceSize</key>
                <string>{190,71}</string>
            </dict>
            <key>crazy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{180,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{180,49}}</string>
                <key>sourceSize</key>
                <string>{190,71}</string>
            </dict>
            <key>cursor.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,101},{102,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,106}}</string>
                <key>sourceSize</key>
                <string>{102,106}</string>
            </dict>
            <key>easy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,51},{142,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{142,49}}</string>
                <key>sourceSize</key>
                <string>{190,71}</string>
            </dict>
            <key>easy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,51},{142,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{142,49}}</string>
                <key>sourceSize</key>
                <string>{190,71}</string>
            </dict>
            <key>hard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,51},{148,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{148,49}}</string>
                <key>sourceSize</key>
                <string>{190,71}</string>
            </dict>
            <key>hard2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1},{148,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{148,49}}</string>
                <key>sourceSize</key>
                <string>{190,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombiebodies_pic.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e75665f9f0ac07745091a67426996c27:1/1$</string>
            <key>textureFileName</key>
            <string>zombiebodies_pic.png</string>
        </dict>
    </dict>
</plist>
