<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>32</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>3_5</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 3.000,5.000 }</string>	
								<string>{ 20.000,2.000 }</string>	
								<string>{ 39.000,7.000 }</string>	
								<string>{ 32.000,27.000 }</string>	
								<string>{ 19.000,22.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>3_6</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 19.000,57.000 }</string>	
								<string>{ 2.000,48.000 }</string>	
								<string>{ 14.000,5.000 }</string>	
								<string>{ 29.000,1.000 }</string>	
								<string>{ 39.000,8.000 }</string>	
								<string>{ 36.000,43.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>4_1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 17.000,7.000 }</string>	
								<string>{ 27.000,28.000 }</string>	
								<string>{ 20.000,41.000 }</string>	
								<string>{ 5.000,38.000 }</string>	
								<string>{ 3.000,24.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>4_2</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 11.000,50.000 }</string>	
								<string>{ 3.000,33.000 }</string>	
								<string>{ 50.000,7.000 }</string>	
								<string>{ 65.000,21.000 }</string>	
								<string>{ 30.000,56.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>4_3</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 13.000,3.000 }</string>	
								<string>{ 18.000,40.000 }</string>	
								<string>{ 8.000,44.000 }</string>	
								<string>{ 2.000,5.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>4_4</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 4.000,74.000 }</string>	
								<string>{ 5.000,9.000 }</string>	
								<string>{ 14.000,8.000 }</string>	
								<string>{ 15.000,74.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>4_5</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 12.000,46.500 }</string>	
								<string>{ 4.000,41.000 }</string>	
								<string>{ 18.000,2.000 }</string>	
								<string>{ 27.000,10.500 }</string>	
								<string>{ 31.000,26.000 }</string>	
								<string>{ 21.000,44.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>4_6</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 15.000,79.000 }</string>	
								<string>{ 2.000,70.000 }</string>	
								<string>{ 25.000,3.000 }</string>	
								<string>{ 34.500,14.000 }</string>	
								<string>{ 37.000,30.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>4_7</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 10.000,67.000 }</string>	
								<string>{ 63.000,1.000 }</string>	
								<string>{ 72.000,11.000 }</string>	
								<string>{ 46.000,64.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>4_8</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 77.000,72.000 }</string>	
								<string>{ 55.000,66.000 }</string>	
								<string>{ 8.000,14.000 }</string>	
								<string>{ 24.500,11.000 }</string>	
								<string>{ 41.000,14.000 }</string>	
								<string>{ 84.000,49.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>5_1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 54.000,9.000 }</string>	
								<string>{ 53.000,44.000 }</string>	
								<string>{ 30.000,47.000 }</string>	
								<string>{ 12.000,38.000 }</string>	
								<string>{ 14.000,8.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>5_2</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 32.000,7.000 }</string>	
								<string>{ 51.000,31.000 }</string>	
								<string>{ 46.000,45.000 }</string>	
								<string>{ 13.000,51.000 }</string>	
								<string>{ 1.000,32.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>5_3</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 3.000,13.000 }</string>	
								<string>{ 13.000,5.000 }</string>	
								<string>{ 42.000,26.000 }</string>	
								<string>{ 34.000,34.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>5_4</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 23.000,7.000 }</string>	
								<string>{ 29.000,17.000 }</string>	
								<string>{ 24.000,49.000 }</string>	
								<string>{ 8.000,49.000 }</string>	
								<string>{ 14.000,11.000 }</string>
							</array>
							<array>	
								<string>{ 16.000,55.000 }</string>	
								<string>{ 8.000,49.000 }</string>	
								<string>{ 24.000,49.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>5_5</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 29.500,33.000 }</string>	
								<string>{ 22.000,31.000 }</string>	
								<string>{ 7.000,7.000 }</string>	
								<string>{ 19.000,4.000 }</string>	
								<string>{ 33.000,27.000 }</string>
							</array>
							<array>	
								<string>{ 11.000,2.000 }</string>	
								<string>{ 19.000,4.000 }</string>	
								<string>{ 7.000,7.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>5_6</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 9.000,43.000 }</string>	
								<string>{ 4.000,38.000 }</string>	
								<string>{ 24.000,5.000 }</string>	
								<string>{ 36.000,9.000 }</string>	
								<string>{ 16.000,40.000 }</string>
							</array>
							<array>	
								<string>{ 33.000,3.000 }</string>	
								<string>{ 36.000,9.000 }</string>	
								<string>{ 24.000,5.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>1_1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>1</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 20.000,4.000 }</string>	
								<string>{ 29.000,28.000 }</string>	
								<string>{ 17.000,36.000 }</string>	
								<string>{ 2.000,26.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>1_2</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 46.000,50.000 }</string>	
								<string>{ 11.000,63.000 }</string>	
								<string>{ 2.000,51.000 }</string>	
								<string>{ 24.000,4.000 }</string>	
								<string>{ 47.000,8.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>1_3</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 5.000,63.000 }</string>	
								<string>{ 2.000,4.000 }</string>	
								<string>{ 15.000,3.000 }</string>	
								<string>{ 18.000,60.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>1_4</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 20.000,4.000 }</string>	
								<string>{ 22.000,55.000 }</string>	
								<string>{ 7.000,57.000 }</string>	
								<string>{ 3.000,5.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>1_5</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 29.000,44.000 }</string>	
								<string>{ 17.000,42.000 }</string>	
								<string>{ 22.000,9.000 }</string>	
								<string>{ 33.000,1.000 }</string>	
								<string>{ 38.000,34.000 }</string>
							</array>
							<array>	
								<string>{ 14.000,4.000 }</string>	
								<string>{ 33.000,1.000 }</string>	
								<string>{ 22.000,9.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>1_6</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 43.000,2.000 }</string>	
								<string>{ 50.000,9.000 }</string>	
								<string>{ 19.000,62.000 }</string>	
								<string>{ 2.000,56.000 }</string>	
								<string>{ 33.000,4.000 }</string>
							</array>
							<array>	
								<string>{ 7.500,61.500 }</string>	
								<string>{ 2.000,56.000 }</string>	
								<string>{ 19.000,62.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>2_1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 22.000,4.000 }</string>	
								<string>{ 26.000,27.000 }</string>	
								<string>{ 15.000,40.000 }</string>	
								<string>{ 2.000,29.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>2_2</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 8.000,53.000 }</string>	
								<string>{ 2.000,30.000 }</string>	
								<string>{ 29.000,1.000 }</string>	
								<string>{ 47.000,20.000 }</string>	
								<string>{ 32.000,51.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>2_3</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 7.000,3.000 }</string>	
								<string>{ 18.000,5.000 }</string>	
								<string>{ 14.000,51.000 }</string>	
								<string>{ 4.000,51.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>2_4</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 13.500,1.000 }</string>	
								<string>{ 22.000,6.000 }</string>	
								<string>{ 17.000,34.000 }</string>	
								<string>{ 10.000,35.000 }</string>	
								<string>{ 3.000,6.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>2_5</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 29.000,65.500 }</string>	
								<string>{ 22.000,64.000 }</string>	
								<string>{ 11.000,6.000 }</string>	
								<string>{ 31.000,4.000 }</string>	
								<string>{ 36.000,62.000 }</string>
							</array>
							<array>	
								<string>{ 21.000,2.000 }</string>	
								<string>{ 31.000,4.000 }</string>	
								<string>{ 11.000,6.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>2_6</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 14.000,58.000 }</string>	
								<string>{ 5.000,55.000 }</string>	
								<string>{ 18.000,4.000 }</string>	
								<string>{ 26.000,3.000 }</string>	
								<string>{ 33.000,7.000 }</string>	
								<string>{ 22.000,54.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>3_1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 35.000,58.000 }</string>	
								<string>{ 11.000,55.000 }</string>	
								<string>{ 4.000,16.000 }</string>	
								<string>{ 18.000,5.000 }</string>	
								<string>{ 41.000,13.000 }</string>	
								<string>{ 49.000,34.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>3_2</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 8.000,15.000 }</string>	
								<string>{ 93.000,36.000 }</string>	
								<string>{ 87.000,91.000 }</string>	
								<string>{ 27.000,105.000 }</string>	
								<string>{ 3.000,69.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>3_3</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 21.000,4.000 }</string>	
								<string>{ 35.000,14.000 }</string>	
								<string>{ 42.000,93.000 }</string>	
								<string>{ 6.000,100.000 }</string>	
								<string>{ 6.000,13.000 }</string>
							</array>
							<array>	
								<string>{ 26.000,104.000 }</string>	
								<string>{ 6.000,100.000 }</string>	
								<string>{ 42.000,93.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>3_4</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 16.000,76.000 }</string>	
								<string>{ 3.000,61.000 }</string>	
								<string>{ 11.000,9.000 }</string>	
								<string>{ 27.000,1.000 }</string>	
								<string>{ 40.000,9.000 }</string>	
								<string>{ 34.000,68.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

