<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>0.0</real>
	<key>angleVariance</key>
	<real>360</real>
	<key>blendFuncDestination</key>
	<integer>771</integer>
	<key>blendFuncSource</key>
	<integer>770</integer>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<real>0.0</real>
	<key>finishColorAlpha</key>
	<real>0.0</real>
	<key>finishColorBlue</key>
	<real>1</real>
	<key>finishColorGreen</key>
	<real>1</real>
	<key>finishColorRed</key>
	<real>1</real>
	<key>finishColorVarianceAlpha</key>
	<real>0.0</real>
	<key>finishColorVarianceBlue</key>
	<real>0.0</real>
	<key>finishColorVarianceGreen</key>
	<real>0.0</real>
	<key>finishColorVarianceRed</key>
	<real>0.0</real>
	<key>finishParticleSize</key>
	<real>20</real>
	<key>finishParticleSizeVariance</key>
	<real>0.0</real>
	<key>gravityx</key>
	<real>0.0</real>
	<key>gravityy</key>
	<real>0.0</real>
	<key>maxParticles</key>
	<real>20</real>
	<key>maxRadius</key>
	<real>100</real>
	<key>maxRadiusVariance</key>
	<real>0.0</real>
	<key>minRadius</key>
	<real>0.0</real>
	<key>particleLifespan</key>
	<real>4</real>
	<key>particleLifespanVariance</key>
	<real>2</real>
	<key>radialAccelVariance</key>
	<real>0.0</real>
	<key>radialAcceleration</key>
	<real>0.0</real>
	<key>rotatePerSecond</key>
	<real>0.0</real>
	<key>rotatePerSecondVariance</key>
	<real>0.0</real>
	<key>rotationEnd</key>
	<real>0.0</real>
	<key>rotationEndVariance</key>
	<real>0.0</real>
	<key>rotationStart</key>
	<real>0.0</real>
	<key>rotationStartVariance</key>
	<real>0.0</real>
	<key>sourcePositionVariancex</key>
	<real>544</real>
	<key>sourcePositionVariancey</key>
	<real>384</real>
	<key>sourcePositionx</key>
	<real>0.0</real>
	<key>sourcePositiony</key>
	<real>0.0</real>
	<key>speed</key>
	<real>5.7100000381469727</real>
	<key>speedVariance</key>
	<real>1</real>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>1</real>
	<key>startColorGreen</key>
	<real>1</real>
	<key>startColorRed</key>
	<real>1</real>
	<key>startColorVarianceAlpha</key>
	<real>0.0</real>
	<key>startColorVarianceBlue</key>
	<real>0.0</real>
	<key>startColorVarianceGreen</key>
	<real>0.0</real>
	<key>startColorVarianceRed</key>
	<real>0.0</real>
	<key>startParticleSize</key>
	<real>19.870000839233398</real>
	<key>startParticleSizeVariance</key>
	<real>1.7599999904632568</real>
	<key>tangentialAccelVariance</key>
	<real>0.0</real>
	<key>tangentialAcceleration</key>
	<real>0.0</real>
	<key>textureFileName</key>
	<string>leaf.png</string>
	<key>textureImageData</key>
	<string>H4sIAAAAAAAAAwGVAmr9iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACXElEQVQ4EX1TS2/TQBDepxMntvMgTUEhdRoJUAkSnJDgwL/nAAUBpx4iEaW0BOI8aqd2YnttM+PUkXNhZHvWuzPffvvNLCX/MUoJLZazjGTFuOwPAThZTqBgRWAGVozRl8FEeQHHmMgYYYyBg7cITtMsxXf/D3QeGB0AcPciSUomhaBCCiY5pzyFYKXSOIrSKIqSKE0pAAEEWA6AyWgYrGlM06tCNy1pGYYwKlVexcjAV763iT3Pjd3dVm2VIgoZcUTBnYtkoy6M7ql+2u/Xz569bI6ej1qvzs7NYaOltYCRUEmmYmCi4jTGY4j97iTfvaLximVpVq9Xe3rxuv3m4m33XXfQHApQw7l1p1df55f045xGYRKGu2QHoqRHGkhJpWlKq2fX7REkv3hvf3jUfNKoUp0Eg/XAssaWexeuV6twiUeJgUUJgFIBFHWd6+1O9aTTN+1Os9M4ET1SoTUSGKa+O/eGPXtm17+tTA4iI/sDAGqRlwrKnIA4WG1JGdEoJwK8BL2FEJyB0KgZxqPlAxQjSbIEKfmg9moROsvbzbW3Wbg++UO2ZEF8NVPOX2fmzIJZECg/URlUgeyrgEh5HeHD4AF6nEEfCqlEwnzmBfNgOrn5+f3z708/viwvryf3k7t1tD7SABmEoK7nRe6v6f0Uj4GCPe4v+9gby8XOmYw34/GVewUMF1jGfGP8oBXNhF2o13gNG6nVqrQN8HhmH2i763C9dEJnG6hA5UfI0sOFKYPgXUAgqXENS4trmJC3MrBEtjiHdgSQTzxc4b0mKM0+BoXGKmEMjtGj/QM/CEg3sANxLAAAAABJRU5ErkJggnP18w6VAgAA</string>
</dict>
</plist>
